/* ShareItinerary.css */
.ib{
  background: url(https://images.pexels.com/photos/7368277/pexels-photo-7368277.jpeg?auto=compress&cs=tinysrgb&w=400) no-repeat center center/cover;

}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e9e7e7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .form-container h2 {
    font-size: 24px;
    color: #4b4848;
    margin-bottom: 20px;
  }
  
  .form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 16px;
    color: gray;

  }
  
  .form-container .form-button {
    width: 100%;
    padding: 10px 0;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container .form-button:hover {
    background-color:rgb(73, 184, 184);
  }
  
  .form-container .form-button:active {
    transform: scale(0.98);
  }
  